body {
    background-color: #FBFBFC;
}

h1 {
    color: #35353B;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

.boss-links {
  font-style: italic;
  color: orange;
}
