body {
    background-color: #FBFBFC;
}

h1 {
    color: #35353B;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

.boss-links {
  font-style: italic;
  color: orange;
}

.giflink.salvo {
  /*this is how you select a thing that has both of those classes i.e. giflink and salvo*/
}
